{{ define "main" }}
<h1>{{ if eq .Kind "term" }}#{{ .Title }}{{ else }}{{ .Title }}{{ end }}</h1>
{{ with .Content }}{{ . }}{{ end }}
<ul class="post-list">
  {{ range .Pages.ByDate.Reverse }}
  <li>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    &mdash; <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ with .Description }}<div class="post-meta">{{ . }}</div>{{ end }}
  </li>
  {{ else }}
  <li>Nothing here yet.</li>
  {{ end }}
</ul>
{{ end }}
